{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
<div class="container text-center">
    <form method="POST">
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Select
            </button>
        </div>

        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            <div class="row">
            </div>

        </fieldset>
        <fieldset class="form-group">
            answer
        </fieldset>
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Convert
            </button>
        </div>
    </form>
</div>

{% endblock content %}